In [1]:
import pandas as pd
import numpy as np
import os
from src.data_process import load_one_month_data

In [2]:
from dotenv import load_dotenv
load_dotenv()

RAW_DATAPATH = os.environ.get('RAW_DATAPATH')

In [3]:
location, df = load_one_month_data(RAW_DATAPATH)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,1,0,102,1.4,99,104,6,0.5,5,7,...,None,None,None,None,None,None,None,None,None,None
1,1,1,106,1.3,104,109,4,0.9,2,5,...,None,None,None,None,None,None,None,None,None,None
2,1,2,111,1.4,109,114,2,1.1,2,7,...,None,None,None,None,None,None,None,None,None,None
3,1,3,116,1.2,114,118,4,1.0,3,7,...,None,None,None,None,None,None,None,None,None,None
4,1,4,119,0.7,118,120,4,0.5,3,5,...,None,None,None,None,None,None,None,None,None,None